eDRS Land Registry/BusinessGatewayRepositories/Service References/EDRSApplicationV2_1/EDocumentRegistrationV2_1WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://drsv2_1.ws.bg.lr.gov/" name="EDocumentRegistrationV2_1WebService" targetNamespace="http://drsv2_1.ws.bg.lr.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:Q1="http://www.oscre.org/ns/eReg-Final/2012/RequestApplicationToChangeRegisterV2_1" xmlns:Q2="http://www.oscre.org/ns/eReg-Final/2012/ResponseApplicationToChangeRegisterV2_0" targetNamespace="http://drsv2_1.ws.bg.lr.gov/">
      <xsd:import schemaLocation="https://bgtest.landregistry.gov.uk/b2b/ECDRS_StubService/EDocumentRegistrationV2_1WebService?xsd=RequestApplicationToChangeRegisterV2_1.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2012/RequestApplicationToChangeRegisterV2_1" />
      <xsd:import schemaLocation="https://bgtest.landregistry.gov.uk/b2b/ECDRS_StubService/EDocumentRegistrationV2_1WebService?xsd=ResponseApplicationToChangeRegisterV2_0.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2012/ResponseApplicationToChangeRegisterV2_0" />
      <xsd:element name="SOAPEngineSystemException" nillable="true" type="xsd:string" />
      <xsd:element name="SchemaException" nillable="true" type="xsd:string" />
      <xsd:element name="eDocumentRegistration" type="tns:eDocumentRegistration" />
      <xsd:element name="eDocumentRegistrationResponse" type="tns:eDocumentRegistrationResponse" />
      <xsd:complexType name="eDocumentRegistration">
        <xsd:sequence>
          <xsd:element name="arg0" type="Q1:RequestApplicationToChangeRegisterV2_1Type" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="eDocumentRegistrationResponse">
        <xsd:sequence>
          <xsd:element name="return" type="Q2:ResponseApplicationToChangeRegisterV2_0Type" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="eDocumentRegistration">
    <wsdl:part name="parameters" element="tns:eDocumentRegistration" />
  </wsdl:message>
  <wsdl:message name="SchemaException">
    <wsdl:part name="fault" element="tns:SchemaException" />
  </wsdl:message>
  <wsdl:message name="eDocumentRegistrationResponse">
    <wsdl:part name="parameters" element="tns:eDocumentRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="SOAPEngineSystemException">
    <wsdl:part name="fault" element="tns:SOAPEngineSystemException" />
  </wsdl:message>
  <wsdl:portType name="EDocumentRegistrationV2_1Service">
    <wsdl:operation name="eDocumentRegistration">
      <wsdl:input message="tns:eDocumentRegistration" />
      <wsdl:output message="tns:eDocumentRegistrationResponse" />
      <wsdl:fault name="SchemaException" message="tns:SchemaException" />
      <wsdl:fault name="SOAPEngineSystemException" message="tns:SOAPEngineSystemException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EDocumentRegistrationV2_1WSImplPortBinding" type="tns:EDocumentRegistrationV2_1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="eDocumentRegistration">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SchemaException">
        <soap:fault use="literal" name="SchemaException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SOAPEngineSystemException">
        <soap:fault use="literal" name="SOAPEngineSystemException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EDocumentRegistrationV2_1WebService">
    <wsdl:port name="EDocumentRegistrationV2_1WSImplPort" binding="tns:EDocumentRegistrationV2_1WSImplPortBinding">
      <soap:address location="https://bgtest.landregistry.gov.uk/b2b/ECDRS_StubService/EDocumentRegistrationV2_1WebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>